---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Experienced in building web and mobile applications following MVC architecture. Have an indepth understanding of data structures and algorithms. Wherever necessary in projects, I will implement my problem solving skills to solve complex problems in an efficient way.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Northern Illinois University - 3.77 CGPA"
      subtitle="August 2023 to May 2025 - Dekalb, Illinois, United States"
    />
    <TimeLineElement
      title="Sree Vidyanikethan Engineering College"
      subtitle="August 2019 to May 2023 - Tirupati, Andhra Pradesh, India"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Professional Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Graduate Teaching Assistant"
      subtitle="From August 2024 to May 2025 at Northern Illinois University"
    >
      Assisting students with course material of the course CSCI 501 - Programming Principles in C++ under the supervision
of Dr. James Leon. Participated in conducting weekly review sessions and seminars to enrich students understanding.
     </TimeLineElement>
    <TimeLineElement
      title="Software Engineer"
      subtitle="From April 2023 to May 2023 at Earnest Data Analytics Private Limited"
    >
      Integrated new UI designs and features in BachatCards and BenefitWise apps to enhance user experience. Efficiently managed API integration and Play Store deployment, ensuring smooth functionality and performance. Utilized GetX for state management, optimizing app responsiveness.
Key skills: Flutter, Dart, MVCS, REST API, GIT, GitHub, GetX, Play Store Deployment.
    </TimeLineElement>
    <TimeLineElement
      title="Software Developer Intern"
      subtitle="From September 2022 to March 2023 at Galant Technologies"
    >
  Developed the Health Studio app which has achieved over 1,000+ downloads on the Play Store. Employed the MVC architectural pattern to structure the codebase effectively.
 Key skills: Flutter, Dart, GetX, MVCS, REST API, GIT, GitHub.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://drive.google.com/file/d/10COK5NssfdMOOo0qtQB52ra0PNEbCtjN/view?usp=sharing" target="_blank">NPTEL DBMS(Database Management Systems)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-4 columns-2 mx-6">
    <li>Flutter</li>
    <li>React JS</li>
    <li>Express JS</li>
    <li>NodeJS</li>
    <li>C++</li>
    <li>Python</li>
    <li>Dart</li>
    <li>JavaScript</li>
    <li>Java</li>
    <li>Go</li>
    <li>MongoDB</li>
    <li>MySQL</li>
    <li>Jenkins</li>
    <li>Server Operations</li>
    <li>REST APIs</li>
    <li>Object-Oriented Programming (OOP)</li>
    <li>AWS</li>
    <li>Git</li>
    <li>GitHub</li>
    <li>Firebase</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Linux</li>
    <li>Data Structures and Algorithms (DSA)</li>
  </ul>
</BaseLayout>
