---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Tejesh Reddy Thippakkagari
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://www.linkedin.com/in/tejesh-reddy-thippakkagari/" target="_blank" class="font-bold">Tejesh Reddy Thippakkagari</a>
  </div>
</footer>
<style></style>
